<link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">



<!-- Form To add courses into the lists of available courses, access given to only admin -->
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4"
       align="left">

    <!-- Button to go back to the list of courses -->
    <a routerLink="../all">
      <button type="button"
              style="border: 10px; border-color: black;"
              class="btn">Back</button>
    </a>
  </div>
  <div class="col-md-4"></div>
</div>

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4"
       align="left">

    <form [formGroup]="addform"
          (ngSubmit)="courseRegistration()"
          novalidate>

      <div *ngIf="validMessage != ''">
        <h3 class="has-info">{{validMessage}}</h3>
      </div>

      <!-- Course Name to be added-->
      <div class="form-group">
        <label> Course Name</label>
        <input type="text"
               class="form-control"
               formControlName="course"
               required
               autofocus/>
      </div>

      <!-- Duration of course (in days)-->
      <div class="form-group">
        <label> Duration </label>
        <input type="number"
               class="form-control"
               formControlName="duration"
               required/>
      </div>

      <!-- Total Number of Seats available for course-->
      <div class="form-group">
        <label> Seats Availabilty </label>
        <input type="number"
               class="form-control"
               formControlName="availability"
               required/>
      </div>

      <!--Courses Start Date -->
      <div class="form-group">
        <label> Course Start Date</label>
        <input type="date"
               class="form-control"
               formControlName="startDate"
               required/>
      </div>

      <!-- Last Registration Date for course-->
      <div class="form-group">
        <label> Registration Last Date </label>
        <input type="date"
               class="form-control"
               formControlName="lastDate"
               required/>
      </div>

      <!-- Submit button which calls courseRegistration()-->
      <button type="submit"
              class="btn btn-primary">Submit</button>
    </form>
  </div>
  <div class="col-md-4"></div>
</div>